{% extends 'dashboard/main.html'  %}
{% load static %}

{% block body %}

<div class="container-fluid page-body-wrapper">


  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->



  {% include 'dashboard/sidebar.html' %}
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <h2>Generate Blog Topic Ideas</h2>

        <div class="row col-md-12" >
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              
             
              <form method="post" class="forms-sample" action="#" >
                {% csrf_token %}
                <div class="form-group">
                  <label for="blog_idea">BLOG IDEA</label>
                  <input type="text" class="form-control" id="blog_idea" name="blog_idea" placeholder="Enter the blog topic idea" required>
                </div>
                <div class="form-group">
                  <label for="blog_keyword">KEYWORDS</label>
                  <input type="text" class="form-control" id="blog_keyword" name="blog_keyword" placeholder="Enter the blog topic keywords seperated by commas">
                </div>
               
              
                
                <button type="submit" class="btn btn-primary btn-lg btn-block col-md-12" >Generate Ideas</button>
              </form>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <img src="{% static 'img/blogging.jpg' %}" class="img-fluid .d-none
          " height="450" style="margin-top: -100px; max-width: 70%; height: auto;" alt="">

        </div> -->

      </div>
      <!-- <div class="col-md-6">
        <img src="{% static 'img/blogging.jpg' %}" class="img-fluid img-thumbnail" height="500" alt="">

      </div> -->

      </div>
      
      

    




    </div>
    <!-- content-wrapper ends -->
    {% include  'dashboard/footer.html' %}
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
</div>
{% endblock body %}